<div class="navbar">
    <span class="navbar-title">Fábrica Pedidos Carvajal</span>
  
    <div class="navbar-links">
      <a href="/products" class="navbar-link"><fa-icon [icon]="faBox"></fa-icon> Productos</a>
      <a href="/orders" class="navbar-link"><fa-icon [icon]="faClipboardList"></fa-icon> Pedidos</a>
    </div>
  
    <button class="logout-button" (click)="logout()" aria-label="Logout button" matTooltip="Cerrar sesión">
      <fa-icon [icon]="faSignOutAlt"></fa-icon>
    </button>
  </div>
  
  <router-outlet></router-outlet>
  