<div class="background">
  <mat-toolbar class="toolbar-register" color="transparent">
    <a class="hover-menu" [routerLink]="['/login']">
      <button mat-raised-button class="register-button">
        Ingresar
      </button>
    </a>
  </mat-toolbar>

  <div class="register-wrapper">
    <div class="register-card">
      <form [formGroup]="formregister" autocomplete="off" (ngSubmit)="registeruser()">
        <h1 class="register-title">Fábrica Carvajal</h1>

        <div class="input-container">
          <fa-icon [icon]="faUser" class="input-icon"></fa-icon>
          <input formControlName="usuario" name="usuario" type="text" placeholder="Nombres y Apellidos" required />
        </div>

        <div class="input-container">
          <fa-icon [icon]="faEnvelope" class="input-icon"></fa-icon>
          <input formControlName="email" name="email" type="email" placeholder="Correo electrónico" required />
        </div>

        <div class="input-container">
          <fa-icon [icon]="faLock" class="input-icon"></fa-icon>
          <input formControlName="contraseña" name="password" type="password" placeholder="Contraseña" required />
        </div>

        <button type="submit" [disabled]="formregister.invalid" class="register-button">
          Registrar
        </button>
      </form>
    </div>
  </div>
</div>
