<div class="background">
  <mat-toolbar class="toolbar-login" color="transparent">
    <a class="hover-menu" [routerLink]="['/register']">
      <button mat-raised-button class="register-button">
        Registrar
      </button>
    </a>
  </mat-toolbar>

  <div class="login-wrapper">
    <div class="login-card">
      <form [formGroup]="formlogin" autocomplete="off" (ngSubmit)="loginuser()">
        <h1 class="login-title">Fábrica Carvajal</h1>

        <div class="input-container">
          <fa-icon [icon]="faUser" class="input-icon"></fa-icon>
          <input formControlName="usuario" name="usuario" type="text" placeholder="Usuario" required />
        </div>

        <div class="input-container">
          <fa-icon [icon]="faLock" class="input-icon"></fa-icon>
          <input formControlName="contraseña" name="password" type="password" placeholder="Contraseña" required />
        </div>

        <button type="submit" [disabled]="formlogin.invalid" class="login-button">
          Ingresar
        </button>
      </form>
    </div>
  </div>
</div>
